
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white;
    color: black;
  }
  .no-print, header, footer, .modal-overlay {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
